{{import_globals}}

<div class="component__inner blocker__inner">
  {{> component this}}


  <button class="btn blocker__link js-click-scroll blocker__{{{_name}}}" aria-label="{{{title}}}" disabled >
    <span class="icon icon-controls-down "></span>
  </button>

</div>
