{{import_globals}}

<div class="component__inner blocker__inner">
  {{> component this}}


  <button class="btn blocker__link js-click-scroll blocker__{{{_name}}}" aria-label="{{_globals._accessibility._ariaLabels.continue}}" disabled  tabindex="0">
    <span class="icon icon-controls-down "></span>
  </button>

</div>
